<!-- _basic_formと_pro_formで違うIDにする為に、IDを記述  -->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'basic_form'}) do |f| %> 
    <%= devise_error_messages! %>
    
    <!-- このフォームを通してユーザーが入力した時、basic planフォームから入力されたか、
    pro planフォームから入力されたかをサーバーサイドで識別できないといけない  -->
    <!-- そこで、query stringを使って、サーバーサイドに識別情報を渡す記述を書く -->
    <!-- query stringとはクライアントからサーバーへパラメータを渡す時に使われるもの。
    URLの末尾に「?」マークを付け、続けて「名前=値」の形式で記述 -->
    <%= hidden_field_tag 'plan', params[:plan] %>
    <!--ここでは、new_user_registration_path(plan: @basic_plan.id)のリンクから来たら、value = 1 となる -->
    <!-- また、new_user_registration_path(plan: @pro_plan.id)のリンクから来たら、value = 2 となる -->

    <div class="field form-group">
      <%= f.label :email %><br />
      <!-- autofocus: trueでページを開くと、自動で入力フォームにfocusされるようにしている  -->
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Sign up", class: 'btn btn-success' %>
    </div>
<% end %>